go 1.21.1

replace (
    github.com/hbstack/announcement-bar => c:/hbstack/announcement-bar
    github.com/hbstack/back-to-top => c:/hbstack/back-to-top
    github.com/hbstack/base => c:/hbstack/base
    github.com/hbstack/blog => c:/hbstack/blog
    github.com/hbstack/bootstrap => c:/hbstack/bootstrap
    github.com/hbstack/code-block-panel => c:/hbstack/code-block-panel
    github.com/hbstack/content-panel => c:/hbstack/content-panel
    github.com/hbstack/docs => c:/hbstack/docs
    github.com/hbstack/featured-image => c:/hbstack/featured-image
    github.com/hbstack/footer => c:/hbstack/footer
    github.com/hbstack/gallery => c:/hbstack/gallery
    github.com/hbstack/hb => c:/hbstack/hb
    github.com/hbstack/header => c:/hbstack/header
    github.com/hbstack/meta => c:/hbstack/meta
    github.com/hbstack/search => c:/hbstack/search
    github.com/hbstack/site => c:/hbstack/site
    github.com/hbstack/socials => c:/hbstack/socials
    github.com/hbstack/theme => c:/hbstack/theme
)
use .