# Sample workflow for building and deploying a Hugo site to GitHub Pages
name: New Content

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      archetype:
        description: 'Define arche type'     
        required: true
        default: 'blog'
      title:
        description: 'Define content title'     
        required: true
        default: ''

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.118.2
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb          
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Create new content with Hugo
        run: |
          TITLE="${{github.event.inputs.title}}"
          TITLE=${TITLE// /-} # replace all spaces with hyphens
          hugo \
            new content /${{ github.event.inputs.archetype }}/${TITLE}/index.md \
            -k ${{ github.event.inputs.archetype }} \
            --force \
            -c ${{GITHUB_WORKSPACE}}
            